/* 
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');
font-family: 'Fleur De Leah', cursive;
font-family: 'Parisienne', cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

*{
    /* overflow-x: hidden; */
}
/* Navbar */
.navlinks{
    color: whitesmoke;
    font-weight: bold;
    font-family: "Butler-m";

}

#nav-items1,#nav-items2,#nav-items3,#nav-items4,
#nav-items5,#nav-items6{
    color: whitesmoke;
    font-weight: bold;
    font-family: "Butler-m";

}
#nav-items1:hover,#nav-items2:hover,#nav-items3:hover,
#nav-items4:hover,
#nav-items5:hover,#nav-items6:hover{
    color: #7ddbdf;

}

#mainbar{
    background-color: red;
    background-image: none;

}


#nav-toggle{
    background-color: whitesmoke;
}
/* Banner Section */

#firstblock{
    background-image: url("../Assets/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}
.logo{
    width: 25%;
    height: auto;
}
.couplepic{
    margin-top: 20%;
    width: 35%;
}

.wed-date {
    font-family: "Butler";
    font-weight: bold;
}
.couple-names {
    font-family: 'Rowdies', cursive;    
    font-weight: bold;

}
.hashtag{
    /* color: #305376; */
    font-family: "Butler-m";
    font-size: 18pt;
    font-weight: bolder;


}


@media (max-width: 480px) {
    #firstblock{
        background-size: cover;
        background-position: center;
    }
    .couplepic{
        width: 50%;
        height: auto;
    }
    
}

/* .behind-logo {
    background-image: url("../Assets/Layer3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 53%;
    
} */


/* Welcome Section */
.welcome-text{
    color: #305376;
    font-family: "JohnDavid";
    font-size: 70pt;
    font-weight: 400;

}

.welcome-section{
    background-image: url("../Assets/back2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 47.5rem;
    background-position-y: 64%;

}

.welcome-par{
    font-size: 18pt;
    color: #305376;
    font-family: "Butler-m";


}
.spantext{
    color: #fc0199;
    font-family: 'Akayla';
    font-weight: bold;

}

.flowercol{
    background-image: url('../Assets/Layer11.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 47.5rem;
}

/* .mapcol{
    background-image: url('../Assets/Layer41.png');
    background-repeat: no-repeat;
    background-size: contain;

} */


.couplepic3 {
    height: 65%;
    width: auto;
}



@media (max-width: 480px) {
    .welcome-text{
        color: #305376;
        font-family: "JohnDavid";
        font-size: 50pt;
        font-weight: 400;
    
    }

    .flowercol{
        background-image: url('../Assets/Layer11.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 10rem;
    }
    .bird-pic{
        margin-left: -80%;
        margin-top: -8%;
        width: 9%;
        height: auto;
    }

    
}









/* Story Section  */
.whitetext{
    color: white;
}
.story-row{
    font-family: "Butler-m";

}
.story-title{
    font-family: "JohnDavid";
    font-weight: 800;
    margin-left: 4%;
    margin-top: 7%;
    color: #305376;

}

.couple2col{
    background-image: url("../Assets/Layer42.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.storyline{
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;

}

.longstory{
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;


}

.couple3{
    background-image: url("../Assets/Layer46.png");
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position: right;
}

.couple3pic{
    width: auto;
    height: 80%;
    margin-top: 30%;
}


.story2{
    background-image: url("../Assets/Layer11c.png");
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: right;
    background-position-y: -10%;
}

/* .story-row{
    margin-left: 50%;
} */



@media (max-width: 480px){
    .story-title{
        font-family: "JohnDavid";
        font-weight: 800;
        margin-left: 4%;
        margin-top: 70%;
    }


    .couple2col{
        background-image: url("../Assets/Layer42.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-size: 0%;
    }

    
   

}



/* Event Details*/
.timeline{
    font-family: "Butler-m";


}
.details-title{
    font-family: "JohnDavid";
    color: #305376;
    font-weight: 800;
}

.details-par {
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;



}

.dates{
    color: #305376;
    font-size: 25pt;

}

.timeline-title{
    color: #305376;
    font-size: 22pt;

}


.dancingcouple{
    background-image: url("../Assets/Layer64.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fplant{
    width: 49%;
    height: auto;
}

.couplep-pic{
    width: 60%;
    height: auto;

}

.glasses-pic{
    width: 32%;
    height: auto;

}

.clear-btns{
    background-color: #7ddbdf;
    color: #305376;

    border: none;}


/* Explore section */

.explore-title {
    font-family: "JohnDavid";
    color: #305376;
    font-weight: 800;
    font-weight: 800;


}



.explore-par{
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;



}



.activities-par{
    color: #305376;
    font-size: 14pt;

}
.activities-title {
    color: #305376;
    font-family: "Butler-m";


}

.activities-titles{
    font-family: 'Cookie', cursive;
    color: #305376;
    font-size: 20pt;
    font-weight: 600;
}

.activities-section {
    font-family: "Butler-m";


}







/* Things todo */
.thingstodo{
    background-image: url("../Assets/Layer56.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    color: #305376;
    font-family: "Butler-m";

}

.thingstodo-par{
    font-size: 14pt;
    

}

.thingstodo-col{
    background-image: url("../Assets/Layer61.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 73%;
    background-position-y: 2%;
    background-size: 15%;
}

.thingstodo-2{
    background-image: url("../Assets/Layer61.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 80%;
    background-position-y: 2%;
    background-size: 10%;
    

}

.things-titles{
    font-family: 'Cookie', cursive;
    color: #305376;
    font-size: 19pt;
    font-weight: 550;

}

.list{
    list-style: none;

}


@media (max-width: 480px){
    .fishcol{
        /* visibility: hidden; */
    }

    /* .thingstodo-par1{
        margin-top: -100px;
    }
     */
}




/* Transport Secrtion */
.transport{
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;




}
.transport-title{
    color: #305376;
    font-family: "JohnDavid";
    font-weight: 800;




}

#book-btn{
    background-color: #7ddbdf;
    color: #305376;
    border-radius: 5px;
    border: none;
    padding: 5px;
    text-decoration: none;
}



/* Questions */
.questions{
    color: #305376;
    font-family: "JohnDavid";
    font-weight: 800;


}
.question{
    color: #305376;
    font-family: "Butler-m";
    font-size: 14pt;



}










/* Passwordm page */

.login{
    background-image: url("../Assets/passwordback.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.row1{
  
    position: relative;
}



.col1{
    position: absolute;
    top: 25rem;
    left: 30rem;


}

.form1{
    font-family: "Butler-m";
    font-size: 14pt;

}
#submit-btn{
    background-color: #7ddbdf;
    border: none;

}
#submit-btn:focus{
    border: none;
}

@media (max-width: 480px) {
    .login{
        background-image: url("../Assets/passwordback.png");
        /* background-repeat: repeat-y; */
        background-size: 43rem;
        /* background-position-y: 0%; */
        background-position-x: 50%;
        /* content: ""; */
        /* top: 0;
        left: 0; */
        /* width: 100%;
        height: 100%; */
    }

    .row1{
  
        /* position: relative; */
        /* display: flex;
        flex-direction: column; */
        


    }
    
    
    
    .col1{
        /* position: absolute;
        top: 25rem;
        left: 30rem; */
        margin-left: -500px;
        margin-top: -500px;

        
    
    
    }
    
}
