/* 
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');
font-family: 'Fleur De Leah', cursive;
font-family: 'Parisienne', cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');





#firstblock{
    background-image: url("../Assets/Layer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.welcome-text{
    color: #305376;
    font-family: "JohnDavid";
    font-size: 70pt;

}

.couplepic{
    margin-top: 20%;
}



/* Welcome Section */

.welcome-section{
    background-image: linear-gradient(rgb(255, 251, 251), rgba(173, 171, 171, 0.5)), url("../Assets/Layer1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 47.5rem;

}

.welcome-par {
    font-size: 18pt;
    color: #305376;

}
.spantext{
    color: #fc0199;
    font-family: 'Parisienne', cursive;

}

.flowercol{
    background-image: url('../Assets/Layer11.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 47.5rem;
}

.mapcol{
    background-image: url('../Assets/Layer41.png');
    background-repeat: no-repeat;
    background-size: contain;

}




/* Story Section  */

.story-title{
    font-family: "JohnDavid";
}

.couple2col{
    background-image: url("../Assets/Layer42.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.storyline{
    color: #305376;
}

.longstory{
    color: #305376;
}

.couple3{
    background-image: url("../Assets/Layer46.png");
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.couple3pic{
    width: auto;
    height: 80%;
    margin-top: 15%;
}




/* Event Details*/

.details-title{
    font-family: "JohnDavid";
    color: #305376;
}

.details-par {
    color: #305376;

}

.dates{
    color: #305376;
    font-size: 18pt;

}

.timeline-titles{
    color: #305376;
    font-weight: 15pt;

}


.dancingcouple{
    background-image: url("../Assets/Layer64.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}




/* Explore section */

.explore-title {
    font-family: "JohnDavid";
    color: #305376;

}

.explore-par{
    color: #305376;

}