/* 
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');
font-family: 'Fleur De Leah', cursive;
font-family: 'Parisienne', cursive;

*/
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Parisienne&display=swap');





#firstblock{
    background-image: url("../Assets/Layer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 47.5rem;
}


.welcome-text{
    color: #305376;
    font-family: 'Fleur De Leah', cursive;

}

.spantext{
    color: #fc0199;
    font-family: 'Parisienne', cursive;

}